{% extends 'base.html' %}
{% load static %}

{% block title %} Details {{ agent }} {% endblock %}

{% block content %}
 <div class="card">
    <div class="card-header">
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <h1 class="d-flex justify-content-center">Detalii Agent Selectat</h1>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-md-10">
            <br><br>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Nume agent</th>
                        <th class="text-center" scope="col">Prenume</th>
                        <th class="text-center" scope="col">E-mail</th>
                        <th class="text-center" scope="col">Data creare</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{ agent.first_name }}</td>
                        <td class="text-center">{{ agent.last_name }}</td>
                        <td class="text-center">{{ agent.email }}</td>
                        <td class="text-center">{{ agent.created_at|date:"d-m-Y" }}</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>
         <div class="col-md-2">
        <br><br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{% url 'list-of-agents' %}" class="menu_button button1">Back</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{% url 'update-agent' agent.id %}" class="menu_button button3">Update</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="{% url 'delete-agent' agent.id %}" class="menu_button button2">Delete</a>
            </div>
        </div>
{% endblock %}