{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}


{% block content %}

{% if user.is_authenticated %}
<br><br>
<div class="d-flow flex-column min-vh-80 justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 mx-auto bg-white rounded shadow">
                <div class="col-md-12">
                    <div class="m-3 text-center">
                        <h1>Welcome!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="d-flow flex-column min-vh-80 justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 mx-auto bg-white rounded shadow">
                <div class="row justify-content-center m-5">
                    <div class="card d-flex justify-content-center" id="div">
                        <div class="card-body">
                            <h5 class="mb-2 block font-sans text-xl text-center font-bold leading-snug tracking-normal text-blue-gray-900 antialiased">Service </h5>
                                <a href="{% url 'list-of-tasks' %}">
                                    <img src="/static/images/service.jpg" alt="Logo" width="250" height="200"
                                                class="d-inline-block align-text-top">
                                </a>
                        </div>
                    </div>
                    <div class="card d-flex justify-content-center" id="div">
                        <div class="card-body">
                            <h3 class="card-title text-center">Comenzi </h3>
                            <a href="{% url 'list-of-tasks' %}">
                            <img src="/static/images/order.png" alt="Logo" width="250" height="200" class="d-inline-block align-text-top"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}

<div class="container-fluid align-items-center d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flow justify-content-center">
                <div class="container">
                    <div class="col-sm-12 mt-5 rounded shadow" style="border: 1px solid black; background-color: whitesmoke;">
                        <div class="col-md-11" style="background-color: whitesmoke;">
                            <div class="mb-5 mt-5 text-center">
                                <br><br><br><br>
                                    <h6 class="text-uppercase font-weight-bold">Bine ati venit in sistemul Teknics EMS!</h6>
                                    <br><br>
                                <p>   Sistemul EMS (Enterprise Management Sistem) ne ofera posibilitatea de a gestiona partea informationala si
                                      traseul de documente intre departamentele companiei.</p>
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>
<footer class="page-footer">
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <h6 class="text-uppercase">Informatii suplimentare</h6>
                <p>Sistem dezvoltat de Dantex RO SRL</p>
                <p></p>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>SC Dantex RO SRL, str. Carpenului, 7A, Sanpetru - Brasov
                <br/>info@dantex.ro
                <br/> (+40) 268 600 330
            </div>
        </div>
        <div class="footer-copyright text-center" style="color: #999999; padding: 2rem 0;">© 2023 Copyright: dantex.ro
        </div>
    </div>
</footer>
{% endif %}
{% endblock %}
