{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}


{% block content %}

{% if user.is_authenticated %}
<br><br>
<div class="d-flow flex-column min-vh-80 justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 mx-auto bg-white rounded shadow">
                    <div class="col-md-12">
                        <div class="m-3 text-center">
                            <h1>Welcome!</h1>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flow flex-column min-vh-80 justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 mx-auto bg-white rounded shadow">
                <div class="row justify-content-center m-5">
                    <div class="card d-flex justify-content-center" id="div">
                        <div class="card-body">
                            <h3 class="card-title text-center">Service </h3>
                                <a href="{% url 'list-of-tasks' %}">
                                    <img src="/static/images/service.jpg" alt="Logo" width="250" height="200"
                                                class="d-inline-block align-text-top">
                                </a>
                        </div>
                    </div>
                    <div class="card d-flex justify-content-center" id="div">
                        <div class="card-body">
                            <h3 class="card-title text-center">Comenzi </h3>
                                <a href="{% url 'list-of-tasks' %}">
                                    <img src="/static/images/order.png" alt="Logo" width="250" height="200"
                                                class="d-inline-block align-text-top">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
