{% extends 'base.html' %}

{% block title %} Password reset successful {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Password reset successful</h3>
                    </div>
                    <form method="post">

                        <div class="card-body">
                            <p class="text-center">Your password has been changed!</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Go to home</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}