{% extends 'base.html' %}
{% load static %}

{% block title %} Password Reset {% endblock %}

{% block content %}
<div class="d-flow flex-column min-vh-80 justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 mx-auto bg-white rounded shadow">
                <div class="row">
                    <div class="col-md-5">
                        <div class="m-5 text-center"><h1>Welcome!</h1></div>
                            <form method="post" class="m-5">
                                {% csrf_token %}
                                <div class="mb-5">
                                    {{ form.as_p }}
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="submit btn button4 mt-3"> Reset my password</button>
                                    <a href="{% url 'homepage' %}" class=" btn button4 mt-3">Go back</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <img src="/static/images/login.svg" alt="login" class="img-fluid p-5"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}