{% extends 'base.html' %}

{% block title %} Teknics APP {% endblock %}

{% block content %}

<div class="container-fluid align-center d-flex justify-content-center">
    <div class="row">
        <div class="col-md-2">
             <h1 class="d-flex justify-content-center">Filters
             </h1>
            <br><br>

                 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="menu_button button1" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Filters
                      </a>
                </div>

            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <form method="get">
                    <div class="card-body">
                        {{ form_filters.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success">Search</button>
                        <a href="{% url 'completed-tasks' %}" class="btn btn-outline-secondary">Reset</a>
                    </div>
                </form>
              </div>
            </div>
            <br><br><br>
        </div>
        <div class="col-md-8">
            <h1 class="d-flex justify-content-center">Task-uri finalizate</h1>
            <br><br>
                {% if all_tasks %}
                    {% for task in all_tasks %}
                        {% if task.complete %}
                            <table class="table table-success table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Company name</th>
                                        <th class="text-center" scope="col">Contact name</th>
                                        <th class="text-center" scope="col">Created at</th>
                                         <th class="text-center" scope="col">End date</th>
                                        <th class="text-center" scope="col">Service Status</th>
                                        <th class="text-center" scope="col">Task</th>
                                        <th class="text-center" scope="col">Agent</th>
                                        <th class="text-center" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">{{ task.company_name }}</td>
                                        <td class="text-center">{{ task.contact_name }}</td>
                                        <td class="text-center">{{ task.created_at|date:"d-m-Y" }}</td>
                                        <td class="text-center">{{ task.end_date|date:"d-m-Y" }}</td>
                                        <td class="text-center">{{ task.select_status|title }}</td>
                                        <td class="text-center">{{ task.task_name }}</td>
                                        <td class="text-center">{{ task.agent_name }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'task-details' task.id %}" class="button button3 me-md-1" type="button">Detalii</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br><br>
                        {% endif %}
                    {%  endfor %}
                {% endif %}
        </div>
        <div class="col-md-2">

            <h1 class="d-flex justify-content-center">Meniu</h1>
            <br><br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'create-task' %}" class="menu_button button1 me-md-2" type="button">Task nou</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'list-of-tasks' %}" class="menu_button button1 me-md-2" type="button">Lista task-uri</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'homepage' %}" class="menu_button button1 me-md-2" type="button">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}