{% extends 'base.html' %}

{% block title %} Teknics APP {% endblock %}

{% block content %}

<div class="d-flow flex-row min-vh-100 justify-content-center">
    <div class="container">
        <div class="col">
            <div class="col-sm-12 col-md-10 mx-auto mx-auto bg-white rounded shadow">
                <div class="col">
                            <table class="table table-primary table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Company name</th>
                                        <th class="text-center" scope="col">Contact name</th>
                                        <th class="text-center" scope="col">Created at</th>
                                        <th class="text-center" scope="col">End date</th>
                                        <th class="text-center" scope="col">Service Status</th>
                                        <th class="text-center" scope="col">Task</th>
                                        <th class="text-center" scope="col">Agent</th>
                                        <th class="text-center" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">{{ task.company_name }}</td>
                                        <td class="text-center">{{ task.contact_name }}</td>
                                        <td class="text-center">{{ task.created_at|date:"d-m-Y" }}</td>
                                        <td class="text-center">{{ task.end_date|date:"d-m-Y" }}</td>
                                        <td class="text-center">{{ task.select_status|title }}</td>
                                        <td class="text-center">{{ task.task_name }}</td>
                                        <td class="text-center">{{ task.agent_name }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'task-details' task.id %}" class="button button3 me-md-1" type="button">Detalii</a>
                                        </td>
                                    </tr>
                                </tbody>
                            <br><br>

                    <br><br>
                    <h3 class="text-center"> Nu avem TASK-uri create</h3>
                    <br><br>
                    <a href="{% url 'create-task' %}" class="btn btn-primary">Task nou</a>
            </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col">
            <div class="col-sm-12 col-md-10 mx-auto bg-white rounded shadow">
                <div class="col">
                    <h1>Welcome!</h1>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}