{% extends 'base.html' %}
{% load static %}

{% block title %} Teknics APP {% endblock %}

{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'create-task' %}" class="button button1 me-md-2" type="button">Task nou</a>
</div>
 <h1 class="d-flex justify-content-center">Lista task-uri: {{ current_date_time|date:"d/m/Y" }}</h1>
<div class="container-fluid align-center d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'create-task' %}" class="button button1 me-md-4">Task nou</a>
                <a href="{% url 'homepage' %}" class="button button1 me-md-8">Home</a>
            </div>
        </div>
</div>
<div class="container-fluid align-center d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12">
                {% if all_tasks %}
                    {% for task in all_tasks %}
                    <table class="table table-secondary table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Company name</th>
                        <th scope="col">Contact name</th>
                        <th scope="col">End date</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Service Status</th>
                        <th scope="col">Task</th>
{#                        <th scope="col">Assigned to</th>#}
{#                        <th scope="col">Department</th>#}
                        <th scope="col">Agent</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ task.company_name }}</td>
                            <td>{{ task.contact_name }}</td>
                            <td>{{ task.end_date|date:"d-m-Y" }}</td>
                            <td>{{ task.created_at|date:"d-m-Y" }}</td>
                            <td>{{ task.select_status|title }}</td>
                            <td>{{ task.task_name }}</td>
                            <td>{{ task.agent_name }}</td>
                            <td>
                                <a href="{% url 'task-details' task.id %}" class="button button3 me-md-1" type="button">Detalii</a>
                            </td>
                        </tr>
                        <br><br>
                    {% endfor %}
                {% else %}
                    <br><br>
                    <h3 class="text-center"> Nu avem TASK-uri create</h3>
                    <br><br>
                    <a href="{% url 'create-task' %}" class="btn btn-primary">Task nou</a>
                {% endif %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}