{% extends 'base.html' %}

{% block title %} Teknics APP {% endblock %}

{% block content %}
 <h1 class="d-flex justify-content-center">Lista task-uri: {{ current_date_time|date:"d/m/Y" }}</h1>
<div class="container-fluid align-center d-flex justify-content-center">
    <div class="row">
        <div class="col-md-10">
                {% if all_tasks %}
                    {% for task in all_tasks %}
                        {% if not task.complete %}
                            <table class="table table-primary table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Company name</th>
                                        <th scope="col">Contact name</th>
                                        <th scope="col">Created at</th>
                                         <th scope="col">End date</th>
                                        <th scope="col">Service Status</th>
                                        <th class="text-align-center" scope="col">Task</th>
                                        <th scope="col">Agent</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ task.company_name }}</td>
                                        <td>{{ task.contact_name }}</td>
                                        <td>{{ task.created_at|date:"d-m-Y" }}</td>
                                        <td>{{ task.end_date|date:"d-m-Y" }}</td>
                                        <td>{{ task.select_status|title }}</td>
                                        <td>{{ task.task_name }}</td>
                                        <td>{{ task.agent_name }}</td>
                                        <td>
                                            <a href="{% url 'task-details' task.id %}" class="button button3 me-md-1" type="button">Detalii</a>
                                        </td>
                                    </tr>
                                </tbody>
                            <br><br>
                        {% else %}
                            <table class="table table-success table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Company name</th>
                                        <th scope="col">Contact name</th>
                                        <th scope="col">Created at</th>
                                         <th scope="col">End date</th>
                                        <th scope="col">Service Status</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Agent</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ task.company_name }}</td>
                                        <td>{{ task.contact_name }}</td>
                                        <td>{{ task.created_at|date:"d-m-Y" }}</td>
                                        <td>{{ task.end_date|date:"d-m-Y" }}</td>
                                        <td>{{ task.select_status|title }}</td>
                                        <td>{{ task.task_name }}</td>
                                        <td>{{ task.agent_name }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="button button3 dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    Detalii
                                                </button>
                                                <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="{% url 'task-details' task.id %}">Details</a></li>
                                                        <li><a class="dropdown-item" href="{% url 'task-delete' task.id %}">Delete</a></li>
                                                </ul>
                                            </div></td>
                                    </tr>
                                </tbody>
                            <br><br>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <br><br>
                    <h3 class="text-center"> Nu avem TASK-uri create</h3>
                    <br><br>
                    <a href="{% url 'create-task' %}" class="btn btn-primary">Task nou</a>
                {% endif %}
            </table>
        </div>
        <div class="col-md-2">
            <br><br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'create-task' %}" class="menu_button button1 me-md-2" type="button">Task nou</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'homepage' %}" class="menu_button button1 me-md-2" type="button">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}