{% extends 'base.html' %}

{% block title %} Update {{ company.task_name }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Update - {{ company.task_name }} - from {{ company.created_at|date:"d/m/Y" }}</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %} {# CSRF TOKER -> CROSS SITE REQUEST FORGERY #}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Save</button>
                            <a href="{% url 'task-details' company.id %}" class="btn btn-primary">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}