.body {
  background: #2c3e50;
  color: black;
}

#div {
  width: 300px;
  border: 1px solid brown;
  padding: 15px;
  margin: 5px;
  }
#div1 {
  width: 200px;

  padding: 15px;
  margin: 5px;
  }
.button {
  border: none;
  border-radius: 20px;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  }
.menu_button{
    width: 250px;
  border: 1px;
  border-radius: 20px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  }
.filter_button{
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  }
.button1 {background-color: #008CBA;} /* Blue */
.button2 {background-color: #f44336;} /* Red */
.button3 {background-color: #e7e7e7; color: black;} /* Gray */
.button4 {background-color: #86b0b6;}
.button5 {background-color: #c27e11;}

.descriere {
  width: 60%;
}

.descriere h1 {
  color: #6ab446;
  text-align: center;
  margin: 0 auto;
}

.descriere p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.page-footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222;
   color: white;
   text-align: left;
   padding-top: 2px;
}

.page-footer h6 {
  font-weight: bold;
}

.footer-copyright {
  color: #999;
  padding: 3rem 0;
}

.div-color {
  border: 1px solid black;
  background-color: #91ccd2;
}

/* Media queries for responsiveness */

/* Styles for screens smaller than 576px (e.g., mobile devices) */
@media (max-width: 576px) {
  /* Adjust the styles here for smaller screens */
}

/* Styles for screens between 576px and 767.98px (e.g., tablets) */
@media (min-width: 576px) and (max-width: 768px) {
  /* Adjust the styles here for tablets */
}

/* Styles for screens between 768px and 991.98px (e.g., small laptops) */
@media (min-width: 768px) and (max-width: 992px) {
  /* Adjust the styles here for small laptops */
}

/* Styles for screens larger than 992px (e.g., large laptops and desktops) */
@media (min-width: 992px) {
  /* Adjust the styles here for large laptops and desktops */
}