<nav class="navbar nav navbar-expand-sm" style="background: #2c3e50; color: white;">
    <div class="container-fluid gap-4">
        <img src="/static/images/teknics_logo_2.jpg" alt="Logo" width="160" height="45"
             class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-end" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white;" aria-current="page" href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: white;" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Agenti
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'create-agent' %}">Adaugare agent</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'list-of-agents' %}">Lista agenti</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="button button4 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        My profile, {{ user.username }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">

                    </li>
                </ul>
                <div>
                    <a href="{% url 'login' %}" class="button button4" style="background-color: #91ccd2;">Login</a>
                    <a href="{% url 'create-user' %}" class="button button4" style="background-color: #91ccd2;">Sign up</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>